<!doctype html>
<html ng-app>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<style>
		#page {
			border: 1px solid #000;
			position: relative;
			min-height: 126px;
		}

		.text {
			font-family: sans-serif;
			position: absolute;
			line-height: 1;
			white-space: pre;
		}

		.form-inline {
			margin-bottom: 0;
		}
	</style>

	<div class="container" ng-controller="PageController">
		<div class="row">
			<div class="span3">
				<table class="table table-bordered">
					<thead></thead>
					<tbody>
						<tr>
							<td>
								<form ng-submit="readFile()" class="form-inline">
									<input type="file" id="file-input" />
									<button class="btn btn-primary">submit</button>
								</form>
							</td>
						</tr>
						<tr>
							<td>
								<form ng-submit="kmeans()" class="form-inline">
									KMeans:
									<input type="number" min="1" value="1" ng-model="numCluster" class="input-mini" />
									<button class="btn btn-primary">run</button>
								</form>
							</td>
						</tr>
						<tr>
							<td>
								<form ng-submit="hierarchyCluster()" class="form-inline">
									Hierarchy Cluster:
									<input type="number" min="1" ng-model="numHierarchyCluster" class="input-mini" />
									<button class="btn btn-primary">run</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="span9">
				<div id="page" style="width: {{pageData.width}}px; height: {{pageData.height}}px;">
					<div ng-repeat="data in pageData.data" class="text"
						 style="top: {{data.y}}px; left: {{data.x}}px; font-size: {{data.h}}px; -webkit-transform-origin: 0 0; -webkit-transform: scale({{data.sx}}, {{data.sy}}); background-color: {{getClusterColor(data.c)}}"
						 title="{{data.c}}"
						 data-width="{{data.w}}"
						 data-height="{{data.h}}"><!--
						-->{{data.t}}<!--
					--></div>
				</div>
			</div>
		</div>
	</div>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="TextRectangle.js"></script>
	<script src="controller.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

</html>
